docker
flaml
transformers
openai
gymnasium
rich
openai==1.31.0
langchain
chromadb
tiktoken
diskcache
pypdf
unstructured
fuzzywuzzy
python-Levenshtein
playwright
minify_html
pandas
torch
llama-cpp-python
tenacity
accelerate
optimum
rpyc
mysql-connector-python
google-cloud-bigquery
numpy
duckdb
plotly